.filter,
.filterBy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterBy {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: center;
  width: 115px;
  height: 37px;
  flex-shrink: 0;
}
.filter {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-springgreen-100);
  position: absolute;
  top: 185px;
  left: 1179px;
  border-radius: var(--br-base);
  width: 134px;
  height: 41px;
  flex-direction: row;
}
